---
import { Picture } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FooterLink } from "~/types";
import ContactUs from "./contact-us.astro";
import HeroImage from "./hero-image.astro";
import solar from "~/assets/solar.jpg";

const links: Array<FooterLink> = [
  {
    url: "https://twitter.com/Imhomesolar",
    description: "Homesolar on Twitter",
    icon: "fa-brands:twitter",
  },
  {
    url: "https://www.facebook.com/Homesolar12/",
    description: "homesolar on Facebook",
    icon: "fa-brands:facebook",
  },
  {
    url: "https://www.instagram.com/Homesolar.co.in/?hl=en",
    description: "Homesolar on Instagram",
    icon: "fa-brands:instagram",
  },
  {
    url: "https://www.linkedin.com/company/imhomesolar",
    description: "Homesolar on Linkedin",
    icon: "fa-brands:linkedin",
  },
];
const widths = [450, 800];
const sizes = "(min-width: 1024px) 30vw, (min-width: 768px) 30vw, 80vw";
---
<div slot="eyebrow" class='hidden sm:block absolute flex-row -space-y-6 right-5 top-20'>
  <ul class="relative">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-14 w-14 items-center justify-center rounded-full border-2 border-current p-4 mt-3"
            href={link.url}
            target="_blank"
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>

</div>
<ContentSection title="Just Go Solar" id="contact">
  <Picture class="object-cover w-full h-full"
  slot='eyebrow'
  src={solar}
  widths={widths}
  sizes={sizes}
  alt="Solar Panels"/>
  <Fragment slot="lead">
    <ContactUs />
  </Fragment>
  
  {/*<Fragment slot="lead">
    Homesolar
    <span class="text-primary">modern</span> web.
    <span class="text-primary">Lightning-fast</span>
  performance meets <span class="text-primary">powerful</span> developer experience.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
  </div>*/}
</ContentSection>
